In [ ]:
#!pip install pyarrow

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pyarrow.orc as orc
import plotly.express as px

df = pd.read_orc("./OutcomesH.orc")
df

,agg_Date_H,trade_id,price,quantity,time,Hour,transaction_value,outcome,transaction_value_abs,Outcome_Balance
0,2023-04-01 00:00:00,4.977007e+09,1799.137049,32.959638,1.680307e+12,0,-5.644813e+06,-5.647289e+07,1.255957e+09,Negative
1,2023-04-01 01:00:00,4.987584e+09,1800.295007,33.204249,1.680311e+12,1,2.983960e+07,-5.569090e+07,2.517182e+09,Negative
2,2023-04-01 02:00:00,4.998817e+09,1799.564369,33.083271,1.680314e+12,2,-1.369788e+07,-5.665204e+07,2.510251e+09,Negative
3,2023-04-01 03:00:00,5.014096e+09,1799.700707,32.954299,1.680318e+12,3,-3.328798e+07,-5.618301e+07,2.493762e+09,Negative
4,2023-04-01 04:00:00,5.016301e+09,1799.965051,32.919944,1.680322e+12,4,1.344643e+07,-5.653858e+07,2.504920e+09,Negative
5,2023-04-01 05:00:00,4.973597e+09,1800.094520,33.409023,1.680325e+12,5,-1.233443e+07,-5.653872e+07,2.531826e+09,Negative
6,2023-04-01 06:00:00,5.025134e+09,1799.941197,33.270946,1.680329e+12,6,1.242009e+07,-5.601473e+07,2.530834e+09,Negative
7,2023-04-01 07:00:00,5.019941e+09,1799.841438,33.358020,1.680332e+12,7,-3.686068e+07,-5.563563e+07,2.543493e+09,Negative
8,2023-04-01 08:00:00,4.990974e+09,1800.421030,33.266804,1.680336e+12,8,-2.835644e+07,-5.597207e+07,2.493327e+09,Negative
9,2023-04-01 09:00:00,5.005212e+09,1800.486905,32.820220,1.680340e+12,9,-2.096529e+07,-5.490173e+07,2.477898e+09,Negative
10,2023-04-01 10:00:00,4.984839e+09,1800.438854,32.625512,1.680343e+12,10,4.915188e+07,-5.480622e+07,2.475924e+09,Negative
11,2023-04-01 11:00:00,4.999466e+09,1799.906673,33.102391,1.680347e+12,11,-1.164264e+07,-5.523360e+07,2.500860e+09,Negative
12,2023-04-01 12:00:00,4.979961e+09,1799.796063,33.292355,1.680350e+12,12,2.606963e+07,-5.579362e+07,2.497639e+09,Negative
13,2023-04-01 13:00:00,5.001729e+09,1800.380856,33.084710,1.680354e+12,13,-3.080899e+07,-5.603060e+07,2.516476e+09,Negative
14,2023-04-01 14:00:00,5.004870e+09,1800.170850,32.574797,1.680358e+12,14,-4.504399e+06,-5.567999e+07,2.465301e+09,Negative
15,2023-04-01 15:00:00,5.006130e+09,1800.140249,33.297969,1.680361e+12,15,2.530751e+07,-5.601944e+07,2.516076e+09,Negative
16,2023-04-01 16:00:00,4.991446e+09,1799.587963,33.326471,1.680365e+12,16,-4.439339e+06,-5.607099e+07,2.525576e+09,Negative
17,2023-04-01 17:00:00,5.003673e+09,1799.860666,33.405084,1.680368e+12,17,1.176301e+07,-5.600689e+07,2.529304e+09,Negative
18,2023-04-01 18:00:00,5.012178e+09,1800.173706,33.488156,1.680372e+12,18,-4.835019e+06,-5.576278e+07,2.528617e+09,Negative
19,2023-04-01 19:00:00,4.998836e+09,1799.682952,33.035478,1.680376e+12,19,-4.763948e+07,-5.500092e+07,2.511856e+09,Negative
20,2023-04-01 20:00:00,4.998196e+09,1800.169629,32.628153,1.680379e+12,20,-4.900892e+06,-5.505415e+07,2.479692e+09,Negative
21,2023-04-01 21:00:00,5.009861e+09,1800.105034,33.232361,1.680383e+12,21,3.799402e+06,-5.506089e+07,2.524750e+09,Negative
22,2023-04-01 22:00:00,5.006224e+09,1800.292821,32.902735,1.680386e+12,22,3.434201e+07,-5.579947e+07,2.472979e+09,Negative
23,2023-04-01 23:00:00,5.019783e+09,1799.047718,33.361569,1.680390e+12,23,-1.027514e+06,-5.604768e+07,1.262558e+09,Negative
24,2023-04-02 00:00:00,5.001447e+09,1799.729961,32.989925,1.680394e+12,0,4.045038e+06,-1.340189e+07,1.338041e+09,Negative
25,2023-04-02 01:00:00,4.993740e+09,1800.049720,33.444523,1.680397e+12,1,2.315002e+07,-1.376962e+07,2.686024e+09,Negative
26,2023-04-02 02:00:00,4.989944e+09,1800.048079,33.165938,1.680401e+12,2,-1.892437e+07,-1.395460e+07,2.670731e+09,Negative
27,2023-04-02 03:00:00,4.993950e+09,1799.607206,33.068856,1.680404e+12,3,2.340054e+06,-1.396682e+07,2.670444e+09,Negative
28,2023-04-02 04:00:00,5.014456e+09,1800.122532,33.044177,1.680408e+12,4,-3.526354e+07,-1.361481e+07,2.654653e+09,Negative
29,2023-04-02 05:00:00,5.023890e+09,1799.752985,33.251556,1.680412e+12,5,3.369793e+07,-1.387192e+07,2.671376e+09,Negative
30,2023-04-02 06:00:00,4.991348e+09,1799.979500,33.624292,1.680415e+12,6,-5.849118e+06,-1.390552e+07,2.702124e+09,Negative
31,2023-04-02 07:00:00,4.998150e+09,1799.992563,32.848831,1.680419e+12,7,-2.114666e+06,-1.390223e+07,2.635090e+09,Negative
32,2023-04-02 08:00:00,4.996845e+09,1799.979868,33.083430,1.680422e+12,8,-2.257622e+07,-1.353336e+07,2.672039e+09,Negative
33,2023-04-02 09:00:00,4.999476e+09,1800.229087,32.631474,1.680426e+12,9,1.872166e+07,-1.389002e+07,2.631374e+09,Negative
34,2023-04-02 10:00:00,4.996649e+09,1799.694797,33.002630,1.680430e+12,10,-3.686957e+07,-1.402168e+07,2.651572e+09,Negative
35,2023-04-02 11:00:00,4.999406e+09,1800.055276,33.220346,1.680433e+12,11,1.084645e+05,-1.345918e+07,2.697727e+09,Negative
36,2023-04-02 12:00:00,5.001605e+09,1799.910007,33.096019,1.680437e+12,12,-1.807340e+07,-1.350768e+07,2.648247e+09,Negative
37,2023-04-02 13:00:00,4.995622e+09,1800.016448,32.871493,1.680440e+12,13,2.607552e+07,-1.396599e+07,2.656513e+09,Negative
38,2023-04-02 14:00:00,5.011166e+09,1799.926781,32.852015,1.680444e+12,14,-2.531682e+07,-1.383008e+07,2.652670e+09,Negative
39,2023-04-02 15:00:00,4.994975e+09,1800.103030,33.380985,1.680448e+12,15,-7.142771e+06,-1.393824e+07,2.677847e+09,Negative
40,2023-04-02 16:00:00,4.994831e+09,1799.943801,32.823994,1.680451e+12,16,-3.053129e+07,-1.398556e+07,2.658015e+09,Negative
41,2023-04-02 17:00:00,4.996053e+09,1799.849060,33.134682,1.680455e+12,17,1.720406e+07,-1.395928e+07,2.686169e+09,Negative
42,2023-04-02 18:00:00,5.005122e+09,1799.683601,33.380731,1.680458e+12,18,-4.467208e+06,-1.372221e+07,2.703927e+09,Negative
43,2023-04-02 19:00:00,4.991564e+09,1800.268673,33.058650,1.680462e+12,19,-2.529615e+07,-1.375924e+07,2.675965e+09,Negative
44,2023-04-02 20:00:00,5.022206e+09,1800.165677,33.162353,1.680466e+12,20,4.836947e+07,-1.392959e+07,2.672793e+09,Negative
45,2023-04-02 21:00:00,5.006938e+09,1800.040012,33.176686,1.680469e+12,21,3.556088e+06,-1.379012e+07,2.682636e+09,Negative
46,2023-04-02 22:00:00,5.002123e+09,1799.933511,32.749796,1.680473e+12,22,3.044587e+07,-1.329933e+07,2.644807e+09,Negative
47,2023-04-02 23:00:00,4.973158e+09,1800.575910,32.959115,1.680476e+12,23,1.074497e+07,-1.185166e+07,1.328654e+09,Negative

In [ ]:
df2 = pd.read_orc("./OutcomesT.orc")
df2

In [ ]:
df3 = pd.read_orc("./TradesH.orc")
df3

In [ ]:
df4 = pd.read_orc("./TradesT.orc")
df4

In [ ]:
df5 = pd.read_orc("./TopChains.orc")
df5

In [2]:
df6 = pd.read_orc("./Data.orc")
df6

,lastOutcome,longestSellChainLength,firstPricelongestSellChain,lastPricelongestSellChain,Date
0,-5.480622e+07,18,1749.124271,1821.411581,2023-04-01 08:49:15.864999936
1,-1.396599e+07,22,1728.482461,1756.818479,2023-04-02 08:26:47.035000064

### Tipos de columas

In [ ]:
df.dtypes

### Dataframe Memory Usage

In [ ]:

# Get memory usage of the DataFrame
memory_usage = df.memory_usage(deep=True).sum()

# Print the memory usage
print("Memory usage:", memory_usage, "bytes")
print("Memory usage:", memory_usage/1_000_000, "Mbytes")